<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Minesweeper</title>
        <link rel="stylesheet" href="/css/style.min.css">
</head>
<body>
  <div id="field">
    <% if (message !== null) { %>
      <div class="alert">
        <h1><%= message %></h1>
        <a href="/">click here to restart</a>
      </div>
    <% } %>

    <%- html %>

    <div class="options">
      <a href="/new">New game</a> - <a href="/help">Help</a>
    </div>
  </div>

  <script type="text/javascript">var field = '<%- field %>';</script>
  <script type="text/javascript" src="/js/minesweeper.min.js"></script>
</body>
</html>
