html {
    height: 100%;
}

body {
    font-family: monospace;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: linear-gradient( 180deg, #69d2e7, #edfafc );
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
  border-collapse: collapse;
  width: auto;
  margin: 1em;
}

td {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  border: 1px solid #000;
  background: linear-gradient( 180deg, #e4f5fc, #f3fbfe );
  font-weight: 700;
}

td.number-one {
  color: #4050BE;
}

td.number-two {
  color: #1F6705;
}

td.number-three {
  color: #AB0705;
}

td.number-four {
  color: #010181;
}

td.number-five {
  color: #7B0000;
}

td:not(.hidden) {
  padding: 0.8em;
}

td.hidden {
  background: linear-gradient( 180deg, #225ed0, #2057c1 );
}

td a {
  display: block;
  padding: 0.8em;
  text-decoration: none;
}

.alert {
  text-align: center;
}

td img {
  max-width: 100%;
  height: auto;
}

.help {
    max-width: 70em;
}

a {
  color: #000;
}

a:hover {
  color: #AB0705;
}

.options {
  text-align: center;
}

.error {
  max-width: 70em;
  text-align: center;
}
